
body{
  color: hsla(0, 0%, 32%, 1);
  font-family: Arial, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

header{
  width: 100vw;
  height: 4rem;
}

nav ul{
  height: 4rem;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.jumbatron{
  background-color: hsla(0, 0%, 85%, 0.7);

}

.jumbatron img{
  max-width: 100%;
  overflow: hidden;

}

.jumbatron h1{
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2rem 1rem;
}

.jumbatron p{
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1.5rem 1rem;
}

div.start{
display: flex;
justify-content: center;
}

.btn {
    background-color: hsla(0, 0%, 25%, 0.7);
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    width: 70%;
}

/*can this be condensed*/
.notices{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  width: 80%;
  margin: 2rem auto;

}

.notice{


}

.notice img{
  max-width: 100%;
  flex-grow: 1;
  padding: 1rem 1.5rem;
}

div.read-more{
  max-width: 100%;
  flex-grow: 1;
  padding: 1rem 2.25rem;
}

.thesis video{
  max-width: 100%;
}


div.learning{
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;

}
