/*General Styles */

body {
  color: hsla(18, 5.7%, 34.3%, 1);
  font-family: Palanquin, Arial, sans-serif;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.15rem;
  font-weight: bold;
}


/*Header */

header {
  width: 100%;
  height: 4rem;
  background-color: white;
}

nav ul {
  height: 4rem;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* Media Queries for Nav Bar - Directs Changes for Desktop Size */

@media only screen and (min-width: 920px) {
  .container {
    width: 90vw;
    margin: auto;
  }
  nav {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin: auto;
  
  }
  li {
    display: inline;
  }
  nav li {
    padding-right: 1rem;
  }
  ul.logo {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }

  ul.menu{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }

  ul.logo>li:first-child {
    padding-right: 0;
  }
  span.word-one, span.word-two {
    text-transform: uppercase;
  }
  span.word-one {
    font-weight: bold;
  }
  span.word-two {
    opacity: 0.45;
  }
}


/*End of Nav Media Queries - Jumatron Starts Here */

.jumbatron {
  overflow: hidden;
  max-width: 100%;
  background-color: hsla(15, 3.8%, 79.2%, 0.5);
}

.jumbatron .column-mob {
  display: flex;
  align-items: center;
}

.jumbatron img {
  max-width: 100%;
}

.column-mob {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

.main img {
  max-width: 100%;
  overflow: hidden;
}

.jumbatron p {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1.5rem 0;
}

.btn {
  background-color: hsla(168, 13.4%, 44%, 0.98);
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
  text-align: center;
  width: 70%;
  height: 2rem;
  transition: background-color 200ms ease-in-out 10ms, opacity 300ms ease-in-out 10ms, scale 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn p {
  padding: 0.5rem 2rem;
}

.btn:hover {
  background-color: hsla(168, 19%, 27%, 1);
}

.press:active {
  transform: scale(0.95, 1);
}


/* Media Queries for Jumatron - Directs Changes for Desktop Size */

@media only screen and (min-width: 920px) {
  div.jumbatron {
    display: flex;
  }
  div.jumbatron-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .jumbatron h1 {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }
}


/*can this be condensed*/

.notices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.notice p {
  font-size: 1rem;
  line-height: 1.2rem;
}

@media only screen and (min-width: 920px) {
  .container-main-sub {
    margin-left: 2rem;
    margin: 1rem 2rem;
    padding: 0.5rem;
    display: inline-flex;
    flex-wrap: wrap;
  }
  .container-main-sub img {
    padding: 0;
  }
  .sub .notice {
    display: inline-flex;
    align-items: center;
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
}

.subs-container {
  display: flex;
  justify-content: flex-start;
}

.read-more {
  line-height: 1.2rem;
}

.read-more-span {
  color: hsla(200, 83.8%, 21.8%, 1);
  font-weight: 500;
  transform: text-decoration 1000ms;
  transform-origin: left;
  border-bottom: none;
}

.read-more-span:hover {
  text-decoration: underline;
}

.thesis video {
  max-width: 100%;
}

div.learning {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learning>div.column-mob {
  align-items: center;
  justify-content: center;
}

.learning .btn {
  margin: 0.5rem 0;
  background-color: hsla(199, 83.8%, 21.8%, 0.6);
}

.learning .btn:hover {
  margin: 0.5rem 0;
  background-color: hsla(200, 83.8%, 21.8%, 1);
}


/*Learning media querues*/

@media only screen and (min-width: 920px) {
  div.learning {
    background-color: hsla(15, 3.8%, 79.2%, 0.5);
  }
  .learning>div.dktop-only {
    display: flex;
    flex-wrap: wrap;
  }
  .subject-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 4.5rem;
  }
  .subject-box {
    width: 30%;
    height: auto;
  }
  .subject-box:nth-child(3n + 2) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  p.course {
    text-transform: uppercase;
    padding: 0.5rem 0;
    text-decoration: underline;
  }



span.course-option:hover{

 text-decoration: underline;
 text-decoration-color: hsla(168, 19%, 27%, 1);
 color: hsla(168, 19%, 27%, 1);
}

  h4 {
    font-weight: bold;
    margin: 1rem 0;
  }
  div.subject-box {
    background-color: hsla(199, 83.8%, 21.8%, 0.2);
    margin-bottom: 2rem;
  }
  div.course-description {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.15rem;
  }
}

.thesis > h2 {
  margin: 1.5rem auto;
  text-align: center;
}


/* Desktop Thesis */

@media only screen and (min-width: 920px) {
  div.thesis {
    margin-left: 2rem;
    margin: 1rem 2rem;
    padding: 0.5rem;
    display: inline-flex;
    flex-wrap: wrap;
  }
}

footer p,span.dktop-only {
  font-size: 0.8rem;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: flex-start;
}

@media only screen and (min-width: 920px) {
  .mob-only {
    display: none;
  }
  .main {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .sub {
    width: 38%;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
  }
  .sub .notice:first-of-type {
    padding-top: 0;
    margin-top: 0;
  }
  .read-more {
    margin-left: 1rem;
    width: 60%;
  }
  .column-mob {
    display: none;
  }
  h1 {
    font-size: 3rem;
  }
  .sub {
    margin-left: 1rem;

  }
  .sub img {
    width: 35%;


  }

  .notice:hover{
    background-color: hsla(199, 83.8%, 21.8%, 0.2);
  }

  footer{
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 920px) {
  .dktop-only {
    display: none;
  }
  .container-main-sub {
    display: none;
  }

}
